/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global styles */
@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

/* Delay for each letter animation */
@keyframes rainbow-delay {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

.text-shadow-xl {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

/* Rainbow text effect for each letter */
.animate-rainbow-delay-0 {
  animation: rainbow 60s ease-in-out infinite;
}
.animate-rainbow-delay-100 {
  animation: rainbow 60s ease-in-out infinite;
  animation-delay: 60s;
}
/* Repeat the same for the rest of the letters with increasing delay */
